/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

/* ------------------------- */
/* -------- GÉNÉRAL -------- */
/* ------------------------- */

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: rgb(255,254,249);
}

/* HEADER */

header {
	max-width: 1140px;
	width: 80%;
	height: 42px;
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

/* Menu de navigation */

nav {
	display: flex;
	align-items: center;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

header a{
	text-decoration: none;
	color: black;
}

li:hover, li a:hover {
	color: #B1663C;
}

header li img {
	height: 22px;
}

/* MAIN CONTAINER*/

main{
	max-width: 950px;
	width: 66%;
	margin-top: 89px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* SECTIONS */

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

/* Introduction */

#introduction {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 72px;
}

#introduction  figure{
	min-width: 50%;
}
#introduction img {
	display: block;
	max-width: 100%;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* Portfolio */

#portfolio {
	margin-top: 139px;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 51px;
}

.filters{
	display: flex;
	justify-content: center;
	font-family: 'Syne';
	font-size: 16px;
	gap: 10px;
	margin-bottom: 51px;
	color: #1D6154;
}

.filters div{
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 9px 14px;
	min-width: 100px;
	box-sizing: border-box;
	text-align: center;
}

.filters div:hover{
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

/* Contact */

#contact {
	width: 40%;
	margin: auto;
	margin-top : 57px;
}

#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 10px;
}

#contact form {
	text-align: left;
	margin-top:2px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	max-height: 36px;
	text-align: center;
	border-radius: 60px ;
}

/* FOOTER */

footer{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: end;
	background-color:white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* ------------------------- */
/* -------- LOG IN --------- */
/* ------------------------- */

#login{
	display: flex;
	flex-direction: column;
	width: 380px;
	margin: auto;
	padding-top: 11px;
}

#login h2{
	margin: auto;
	margin-bottom: 7px;
}

#login form{
	display: flex;
	flex-direction: column;

}

#login label{
	font-family: 'Work Sans';
	color: #3D3D3D;
	margin-top: 30px;
	margin-bottom: 7px;
}

#login input{
	height: 50px;
	font-family: 'Work Sans';
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login input[type="submit"]{
	height: 36px;
}

#login a{
	text-align: center;
	color: black;
	margin-bottom: 5em;
}

/* MESSAGE ERREUR LOGIN */

/* la balise <div> a par défaut la class=errorLogIn */

.errorLogIn {
	display: none;
}

/* Modification de la class de la div avec JavaScript
lors d'une erreur de connexion
désormais class=errorLogInMessage */
.errorLogInMessage{
	height: 30px;
	margin-top: 39px;
	border: 2px solid red;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
}
	

/* -------------------------------------- */
/* -------- PAGE ADMINISTRATEUR --------- */
/*            APRES CONNEXION             */
/* -------------------------------------- */

/* BARRE DE MENU ÉDITION */

.hidden-bar-edit{
	display: none;
}

.bar-edit{
	width: 100%;
	height: 59px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 21px;
	background-color: black;
	color: white;
}

.bar-edit div[class="mode-edition"]{
	display: flex;
	gap: 10px;
}

.bar-edit div[class="button-publication"]{
	padding: 11px 23px;
	background-color: white;
	color: black;
	border-radius: 60px;
}

/* BOUTON "MOFIFIER" INTRO */

.hidden-edit-button-intro{
	display:none;
}

.edit-button-intro{
	align-self: flex-start;
	display: flex;
	gap: 10px;
	margin-top: 15px;
}

/* BOUTON "MOFIFIER" MES PROJETS */

.title-projets{
	position : relative;
	text-align: center;
}
  
.hidden-edit-button-projets{
	display: none;
	
}

a[href="#modal1"]{
	text-decoration: none;
	color: black;
}

a[href="#modal1"]:hover{
	color:#B1663C;
}

.edit-button-projets{
	position: absolute;
		top: 30%;
		right: 25%;
	display: flex;
	gap: 10px;
}

/* DISPARITION DES BOUTONS FILTRES */

.hidden-filters{
	display:none;
}

/* -------------------------- */
/* -------- MODALES --------- */
/* -------------------------- */

/* GENERAL */
/* ------- */

.modal{
	position:fixed;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-wrapper{
	overflow: auto;
	width: 630px;
	max-width: calc(100vw - 30px);
	max-height: calc(100vh - 30px);
	border-radius: 10px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.modal h3{
	font-size: 26px;
	margin-bottom: 36px;
}

.fa-xmark{
	align-self: flex-end;
	margin: 26px 30px 10px 0px;
	font-size: 24px;
	color:black;
}

.fa-xmark:hover{
	color: #D65353;
	cursor: pointer;
}

/* MODALE 1 */
/* -------- */

/* DISPLAY:NONE; ajouté directement dans le code HTML
car sera plus simple a gérer après en Javascript*/

.modal-wrapper-photos{
	display: flex;
	flex-wrap: wrap;
	gap:7px;
	padding-bottom: 47px;
	border-bottom: 1px solid #B3B3B3;
}

.button-add-photo{
	font-family: Syne;
	font-size: 14px;
	text-decoration: none;
	color: white;
	padding: 10px 50px;
	background-color: #1D6154;
	border-radius: 60px;
}

.removeGallery{
	font-family: Syne;
	font-size: 14px;
	color: #D65353;
	font-weight: 400;
	margin: 23px 0px 48px 0px;
}

/* Affichage des Miniatures Photos */

.modal-wrapper-photos {
	margin: 0 100px 38px 100px;
	display: flex;
	justify-content:flex-start;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-basis: 0;
}

.modal-wrapper-photos figure{
	width: 80px;
}

.modal-wrapper-photos img{
	max-width: 100%;
	height: auto;
}

/* icone poubelle */

.modal-wrapper-photos figure{
	position :relative;
}
.fa-trash-can{
	position : absolute;
		right : 8px;
		top : 8px;
	font-size: 11px;
	color: white;
	padding: 4px;
	background-color: black;
	border-radius: 2px;
}

.fa-trash-can:hover{
	cursor: pointer;
}

/* MODALE 2 */
/* -------- */

/* display:none; ajouté directement dans le code HTML
car sera plus simple a gérer après en Javascript*/

.modal2-header-icones{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.fa-arrow-right{
	font-size: 24px;
	margin: 26px 0px 10px 30px;
	color:black;
}

.fa-arrow-right:hover{
	color:#CBD6DC;
}

.form-add-photo{
	width: 67%;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
}

#select-photo{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #E8F1F6;
	border-radius: 3px;
}

.wrapper-upload-photo i{
	font-size: 58px;
	margin: 22px 0px 15px 0px;
}

.wrapper-upload-photo label{
	color:#306685;
	font-weight: bold;
	background-color: #CBD6DC;
	padding: 10px 33px;
	border-radius: 50px;
	cursor: copy;
}

.wrapper-upload-photo input{
	display: none;
}

input[type="text"]{
	font-family: 'Work Sans';
}

.wrapper-upload-photo p{
	font-size: 10px;
	color: #444;
	margin: 7px 0 19px 0;
}

.wrapper-title-category{
	display: flex;
	flex-direction: column;
	padding-bottom: 47px;
	border-bottom: 1px solid #B3B3B3;
}

.wrapper-title-category label{
	margin: 21px 0px 10px 0px;
	color: #3D3D3D;
}

.wrapper-title-category input, .wrapper-title-category select{
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

#modal2 button{
	align-self: center;
	font-family: Syne;
	color: white;
	padding: 10px 80px;
	margin: 32px 0 55px 0;
	background-color: #B3B3B3;
	border: none;
	border-radius: 60px;
}

/* Affichage miniature photo sélectionnée */

#preview-photo{
	display: flex;
	justify-content: center;
	background-color: #E8F1F6;
	max-height: 170px;
}

#preview-photo img{
	object-fit: contain;
	max-width: 100%;
}
